.weekly-view-container {
    display: grid;
    grid-template-columns: 1fr repeat(7, 3fr);
    border: 1px solid black;
}

.hours-rule-column {
    display: flex;
    flex-direction: column;
}

.hour-block {
    display: flex;
    flex-direction: column;
}

.first-half-hour-block {
    height: 50px;
    font-size: clamp(14px, 2vw, 20px);
    border-top: 0;
    margin-left: 0.3vw;
}

h5 {
    font-size: clamp(17px, 4vw, 27px);
    text-align: center;
    border: 1px solid black;
    border-top: 2px solid black;
    background-color: aliceblue;
}

.second-half-hour-block {
    height: 50px;
    border-top: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid lightgray;
}

.hours-rule-column {
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.day-column {
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.day-name-cell {
    text-align: center;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: clamp(12px, 1vw, 18px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 20;
}