.hour-block {
    display: flex;
    flex-direction: column;
}

.first-half-hour-block {
    height: 50px;
    font-size: clamp(14px, 2vw, 20px);
    border-top: 0;
    margin-left: 0.3vw;
}

h5 {
    font-size: clamp(17px, 4vw, 27px);
    text-align: center;
    border: 1px solid black;
    border-top: 2px solid black;
    background-color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 20;
}

.day-column-header {
    font-size: clamp(17px, 4vw, 27px);
    text-align: center;
}

.second-half-hour-block {
    height: 50px;
    border-top: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid lightgray;
}

@media (max-width: 2600px) {
    .daily-view-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}

@media (max-width: 2000px) {
    .daily-view-container {
        display: grid;
        grid-template-columns: 1fr 6fr;
    }
}

.hours-rule-column {
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.day-column {
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.today-background {
    background-color: aliceblue;
}

.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* remove gray overlay */
.slds-spinner_container {
    background: transparent !important;
}

.calendar-event-box {
    font-size: clamp(14px, 2vw, 25px);
    box-shadow:
    0 -2px 4px rgba(0, 0, 0, 0.1), /* top */
    0  2px 4px rgba(0, 0, 0, 0.1); /* bottom */
    overflow: hidden;
    width: 100%;
    transition: transform 0.35s ease-in-out;
}

.calendar-event-box h2, h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.calendar-event-box span{
    font-weight: 700; 
}
