.monthly-view-panel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.date-tile {
    height: 140px;
    text-align: end;
    border: 1px solid black;
    justify-content: end;
}

.grayed-out {
    background-color: rgb(197, 192, 192);
}

.day-name-cell {
    text-align: center;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: clamp(12px, 1vw, 18px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: sticky;
    top: 0;
}

.today-background {
    background-color: aliceblue;
}

h4 {
    font-size: clamp(10px, 2vw, 18px);
    margin-right: 0.2vw;
}