.monthly-view-panel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
}

.day-name-cell {
    text-align: center;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: clamp(12px, 1vw, 18px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: sticky;
    z-index: 20;
    top: 0;
}

.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* remove gray overlay */
.slds-spinner_container {
    background: transparent !important;
}

c-month-tile-calendar {
    min-width: 0;
}